.step {
    display: inline-flex;
    height: 100px;
    padding: 10px;
}

.number {
    margin: 10px 30px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.stepNumber{
    font-size: small;
    color: white;
}
.stepDetail{
    font-size: large;
    font-weight: bolder;
    color: white;
}
.selected{
    background-color: white;
    color: darkblue;
    margin: 10px 30px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
}